
body {
    font-size: 20px;
    margin: 0 auto;

    background:url(../images/white_wall.png); 
  }
  
.header{
  margin: auto;
  color: #333;
  background: white;
}

h1 {
    margin: auto;
    display: inline-block;
    background: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, "Times New Roman", serif;
  }

  h2{
    color:#4aaaa5;  
  }

  img{

      float: left;
  }
.navbar{
    overflow: hidden;
    background-color: white;
}

.navbar a {
    float: right;
    display: inline-block;

}

.container{

  margin: auto;
  width: 960px;
  position: relative;
  display: block;
  background: #ffffff;
  color: #777777;
  border: 2px solid #cccccc;
  padding: 25px;
  overflow: hidden;
}
 
#firstname, #email{
    width: 960px;
    box-sizing: border-box;
}

#message{
    width: 960px;
    height: 300px;
    box-sizing: border-box;
}


#right{
  float: center;
  color: white;
  background-color: #4aaaa5;
  padding: 25px;
}


.images{
  display: inline-block;
  margin: 0 auto 0 auto;
}


  .footer{
    background: #666666;
    border-top: 5px solid #4aaaa5;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    clear: both;
  }